
.container{
  width: 50%;
  max-width: 600px;
  height: 100%;
  margin: 20px auto 0;
}

img{
  width: 80%;
}

mat-grid-tile{
  background-color: #F5F5F5;
  font-size: 1.2rem;
  border:5px solid transparent;
}
mat-grid-tile:hover{
  background-color: #e3e2e2;
  cursor: pointer;
}

mat-card-content{
}
